# Ignore everything in rust folders ...
#*/rust/*
*/rust/target
*/rust/C*

# except the main file
#!*/**/main.rs

# Ignore jupyter checkpoints
*/.ipynb_checkpoints

# Ignore puzzle inputs
*/input.txt
#*/sample.txt


